
spring:
  datasource:
    url: jdbc:mysql://db:3306/securebank?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASS:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: ${PORT:8080}

app:
  jwt:
    issuer: bradesco-securebank
    secret: ${JWT_SECRET:change-me-super-secret}
    expirationMinutes: 120

risk:
  nightStartHour: 19
  nightEndHour: 6
  pixNightLimit: 2000.00
  tedNightLimit: 2000.00
